.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
}
@media screen and (min-width: 768px){
    .footer{
        padding-top: 92px;

        margin: 0 48px;

        max-width: 1184px;
    }
}
@media screen and (max-width: 768px){
    .footer{
        padding-top: 88px;

        margin: 0 24px;

        max-width: 720px;

        gap: 18px;
    }
}
@media screen and (max-width: 320px) {
    .footer{
        padding-top: 64px;

        margin: 0 auto 0 16px;

        max-width: 186px;

        gap: 38px;

        flex-direction: column;
        align-items: baseline;
    }
}
